<div class="group">
  <dl>
    <dt>
      <%= label_tag :data, h(labels[:data]) %>
    <p class="hint"><%= hint %></p>
    </dt>
    <dd><%= text_area_tag :data, (attachment && attachment.file? ? attachment.read : params[:data]), :class => 'fat', :rows => 20, :cols=>50 %></dd>
    <% if controller.action_name == 'show' -%>
      <dt>
        <%= label_tag :filename, h(labels[:filename]) %>
        <%=text_field_tag :filename, params[:filename] %>
      <p class="hint">You can create one of three types of files: Liquid (*.liquid), CSS (*.css), and Javascript (*.js).</p>
      </dt>
    <% end -%>
  </dl>
</div>
