<h3 id="templates-trigger">Templates</h3>
<p>Modify a template by selecting it from the list below.  Add a new layout by creating a Liquid template with an
  *_layout suffix (e.g custom_layout).</p>
<ul id="attachments">
  <% @theme.templates.template_types(@theme.extension).each do |template| -%>
    <li><%= link_to(h(template),edit_shop_admin_templates_path(:theme=>@theme,:filename=>template)) %></li>
  <% end -%>
  <% @theme.templates.custom(@theme.extension).each_with_index do |template, i| -%>
    <li id="templates-<%= i %>">
  <%#= delete_link :templates, template, "templates-#{i}" %>
      <%= link_to(h(template), edit_shop_admin_templates_path(:theme=>@theme,:filename=>template)) %>
    </li>
  <% end -%>
  <% @theme.resources.reject { |r| @theme.resources.image?(r) }.each_with_index do |resource, i| -%>
    <li id="resources-<%= i %>">
  <%#= delete_link :resources, resource.basename.to_s, "resources-#{i}" %>
      <%= link_to h(resource.basename), '#' %>
    </li>
  <% end -%>
</ul>

<h3 style="margin-top:15px;">Images</h3>

<p>Select an image to use in your template.</p>
<ul id="attachments">
  <% @theme.resources.select { |r| @theme.resources.image?(r) }.each_with_index do |image, i| -%>
    <li id="images-<%= i %>"><%#= delete_link :resources, h(image.basename.to_s), "images-#{i}" %> <%= h(image.basename) %> </li>
  <% end -%>
</ul>