<%=use_swfupload%>
<script type="text/javascript">

  $(document).ready(function() {
    imageUploaderConfig("/images",{
      postParams:{},
      buttonImageUrl: '/images/FullyTransparent_65x29.png'
    });
    $.fancybox.resize();
  })
</script>
<%content_for(:head) do %>
  <%=use_swfupload%>
<%end %>
<p>
  <%=f.label :name%>
  <%=f.text_field :name%>
</p>
<p>
  <%=f.label :description%>
  <%=f.text_area :description, {:rows=>3}%>
</p>
<p>
  <%=f.label :price%>
  <%=f.text_field :price%>
</p>
<p>
  <%=f.label :quantity%>
  <%=f.text_field :quantity%>
</p>
<%#*<p>%>
  <%#=f.label :avaiable_date%>
  <%#=f.text_field :avaiable_date%>
<%#*</p>%>
<%#*<p>%>
  <%#=f.label :expired_date%>
  <%#=f.text_field :expired_date%>
<%#*</p>%>
<p>
  <%=f.label :category_id%>
  <%=f.select :category_id,shop.subcategories_collection,{:include_blank=>"Select a category"}%>
</p>
<p>
  <%=f.label :shop_category_id%>
  <%=f.select :shop_category_id,shop.shopcategories_collection,{:include_blank=>"Select a category"}%>
</p>
<%=f.hidden_field(:image_ids)%>
<div id="imageThumbs" style="background-color: #ff0;height: 10px;">
  <%for image in product.images do %>
    <%=image_tag(image.attachment.url(:mini))%>
  <%end%>
</div>
<div id="fsUploadProgress" class="fieldset flash">
</div>
<div id="divStatus">0 Files Uploaded</div>
<div>
  <span id="spanButtonPlaceHolder"></span>
  <input id="btnCancel" type="button" value="Cancel All Uploads" onclick="swfu.cancelQueue();" disabled="disabled" style="margin-left: 2px; font-size: 8pt; height: 29px;"/>
</div>
