<h1>New shop_category</h1>
<% form_for(:shop_category,@shop_category,:url=>shop_shop_categories_path(@shop)) do |f| %>
  <p><%=f.label :name%> <%=f.text_field :name%></p>
  <p>
    <%=f.label :subcategory%>
    <%=collection_select(:shop_category, :subcategory_id, Category.subcategories, :id, :name, {:include_blank=>"Select a subcategory"})%>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
