<head>
  <title>
    ShopViFy-Easy Sell Easy Buy.
  </title>
  <%=javascript_include_tag 'jquery-1.4.2.min'%>
  <%=stylesheet_link_tag 'application','shop' %>
  <%=stylesheet_link_tag 'skin/default' %>
  <%=use_fancybox%>
  <%=yield :head%>
  <script type="text/javascript">
    $(document).ready(function() {
      <%=yield :onload_js%>
    })
  </script>
</head>
<body>
  <div id="wrapper">
    <div id="menu">
      <%=render :partial=>'shared/admin/menu'%>
      <div class="clear"></div>
    </div>
    <div id="banner">
      <%=yield :banner%>
    </div>
    <div class="notice"><%=flash[:notice]%></div>
    <div id="main-content">
      <%=yield%>
    </div>
  </div>
</body>