<head>
  <title>
    ShopViFy-Easy Sell Easy Buy.
  </title>
  <%=stylesheet_link_tag 'application','shop' %>
  <%=stylesheet_link_tag 'skin/default' %>
</head>
<body>
  <div id="wrapper">
    <div id="menu">
      <%=render :partial=>'shared/menu'%>
      <div class="clear"></div>
    </div>
    <div id="banner">
     <%=yield :banner%>
    </div>
    <div class="notice"><%=flash[:notice]%></div>
    <div id="main-content">
      <%=yield%>
    </div>
  </div>
</body>