<head>
  <title>
    ShopViFy-Easy Sell Easy Buy.
  </title>
  <%=javascript_include_tag 'jquery-1.4.2.min'%>
  <%=stylesheet_link_tag 'application','shop' %>
  <%=stylesheet_link_tag 'skin/default' %>
  <%=use_fancybox%>
  <%= fb_connect_javascript_tag %>
  <%=yield :head%>
  <%init_fb_connect "XFBML", :js=>:jquery do%>
    <%=yield :onload_js%>
  <%end%>
  
</head>
<body>
  <div id="wrapper">
    <div id="menu">
      <%=render :partial=>'shared/menu'%>
      <div class="clear"></div>
    </div>
    <div id="banner">
      <%=yield :banner%>
    </div>
    <div class="notice"><%=flash[:notice]%></div>
    <div id="main-content">
      <%=yield%>
    </div>
  </div>
</body>